body {
	background-color: #383737;
	color: white;
	margin: 0;
	padding: 0;
}
.container {
	position: relative;
}
.bg-first img {
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
.nav-link {
	color: white !important;
}
.landing {
	position: fixed;
	z-index: 5;
	top: 40%;
	animation: display-4 3.1s ease;
}
.display-4 {
	text-align: center;
	font-weight: bolder;
	color: white;
	font-size: 100px;
	text-align: center;
}
.lead {
	color: white;
	text-align: center;
	font-size: 12px;
}
.service h3 {
	text-align: center;
	color: white;
	font-weight: bold;
}
.uiux,
.photographer {
	border-radius: 12px;
	border: solid 1px white;
	height: 80px;
}
.uiux h3 {
	color: white;
	font-size: 30px;
	font-weight: lighter;
	margin-top: -10%;
}
.uiux h4{
	color: white;
	font-size: 19px;
	text-align: center;
	font-weight: bolder;
	margin-top: -40px !important;
}
.photographer {
	transition: 0.5s;
}
.photographer:hover {
	background-color: red;
}
.photographer i {
	font-size: 30px;
	color: white;
	margin-top: -5px;
	display: flex;
	justify-content: center;
}
.photographer h4 {
	text-align: center;
	color: white;
	font-size: 20px;
	margin-top: -5px;
	font-weight: bolder;
}
.project h4 {
	text-align: center;
	padding-top: 15px;
	margin-bottom: -25px;
	font-weight: bolder;
}
.profile-img {
	width: 45%;
	margin-left: 28%;
}
.lead-2 {
	font-size: 15px;
	margin-top: 1%;
	text-align: center;
}
.sosial-icn {
	display: flex;
	justify-content: center;
	margin-bottom: 5%;
}
.app-icn {
	display: flex;
	justify-content: center;
}
.icons-app {
	width: 40px;
	margin: 0 10px;
}
.main {
	margin-top: 100vh;
}

/*utility*/
.line-01 {
	z-index: 5;
	margin-top: 50% !important;
	height: 10% !important;
	width: 20% !important;
	background-color: white !important;
}
.arrow {
	color: white;
	text-align: center;
}
.navbar {
	transition: 0.5s;
}
.navblack {
	background-color: rgba(0,0,0, 0.8);
}
.card {
	background-color: unset;
	border: unset;
}
.btn-main {
	display: flex;
	justify-content: center;
	text-align: center;
	color: white;
	background-color: red;
}
.btn-main:hover {
	background-color: orange;
	color: white;
}

.plink {
	background-color: orange;
	text-align: center;
	color: white;
	width: 100%;
}
.current h4 {
	text-align: center;
}
.list-done-projects {
	background-color: orange;
}
.about h4 {
	font-weight: bolder;
	text-align: center;
	padding-top: 15px;
}
.profile-img {
	border-radius: 320px;
}
.progres {
	margin-top: -30px !important;
}
.progression-bar {
	margin-top: -14px;
}
.icons {
	width: 27px;
	margin-right: 10px;
}
.main {
	position: relative;
	z-index: 10;
	padding-top: 1%;
	transition: 1s;
}
.main-black {
	background-color: rgba(0,0,0, 0.9) !important;
}
.modal-content {
	background-color: black;
}
.dropdown-menu {
	background-color: rgba(0,0,0, 0.7) !important;
}
.dropdown-item {
	color: white !important;
}
.dropdown-item:hover {
	color: white !important;
	background-color: rgba(0,0,0, 0.4);
}
/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.display-4 {
		text-align: center;
		margin-left: -30vh;
	}
	.lead {
		text-align: right;
		margin-right: 10vh;
	}
	.service h3 {
/*		margin-top: 36vh;*/
	}
	.uiux h3 {
		margin-top: -3%;
		font-size: 80px;
		font-weight: lighter;
	}
	.uiux h4{
		font-size: 50px;
		margin-top: -45px !important;
	}
	.photographer i {
		font-size: 85px;
	}
	.photographer h4 {
		font-size: 48px;
		margin-top: -10px;
	}
	.uiux,
	.photographer {
		border-radius: 12px;
		border: solid 1px white;
		height: 170px;
	}
	.profile-img {
		margin-right: 5%;
		margin-left: 5%;
		float: left;
	}
	.lead-2 {
		margin-top: 2%;
		padding-left:  155px !important;
		width: 1050px;
		text-align: left;
		font-size: 22px;
	}
	.profile-img {
		border-radius: 320px;
		width: 15%;
	}
	.sosial-icn {
		display: flex;
		justify-content: left;
		margin-bottom: 5%;
	}
	.icons-app {
		width: 55px;
		margin: 30px 10px;
	}
	.btn {
		width: 40%;
	}
	.main {
		margin-top: 100vh !important;
	}
	.nav-link {
		transition: 0.5s;
	}
	.nav-link:hover::after {
		content: '';
		display: block;
		border-bottom: solid 3px blue;
		width: 50%;
		margin: auto;
	}	
}
.btn:hover {
	border-radius: unset;
	width: 90%;
}
.btn {
	border-radius: 100px;
	transition: 0.4s;
	margin: auto;; 
}

.html-progres {
	margin-top: -4%;
	width: 95%;
	height: 20px;
	background-color: cyan;
}
.ci-progres {
	margin-top: -4%;
	width: 65%;
	height: 20px;
	background-color: cyan;
}
.laravel-progres {
	margin-top: -4%;
	width: 25%;
	height: 20px;
	background-color: cyan;
}
.python-progres {
	margin-top: -4%;
	width: 10%;
	height: 20px;
	background-color: cyan;
}

@keyframes display-4 {
	from{
		opacity: 0;
	}to{
		opacity: 1;
	}
}